<!doctype html>
<html>
<body>
<table>
  <thead>
  <tr>
    <th>Time</th>
    <th>User Name</th>
    <th>Browser</th>
    <th>Code</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= Time.now %></td>
    <td><%= person.nickname %></td>
    <td><%= navigator.user_agent %></td>
    <td><%= code %></td>
  </tr>
  </tbody>
</table>
</body>
</html>